{
	"presets": [ [ "@babel/preset-env", {
		"targets": {
			"esmodules": true
		}
	 } ] ],
	"env": {
		"development": { "presets": [ [ "@babel/preset-env", { "targets": { "node": "current" } } ] ], "plugins": ["require-context-hook"] },
		"test": { "presets": [ [ "@babel/preset-env", { "targets": { "node": "current" } } ] ], "plugins": ["require-context-hook"] }
	}
}
